ul{
   display:flex;
   list-style: none;
   margin: 0;
   margin-left: auto;

}
li{
   margin-right: 25px;
   

}















.row{
    display: flex;
    flex-wrap: wrap;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    display: inline-block;
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star-rating label.selected {
    color: gold;
}





.column{
    flex: 1;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: medium solid brown;
    text-align: center; 
}

body{
  font-family: American Typewriter, serif;
  background-color: #FFFFCC;
  color: #666600
}

h2{
  font-family: Verdana, sans-serif;
  text-align: center;
}

a{
  color: #6E260E;
  text-decoration: none;
}

header{
  border: medium solid brown;
  height: 120px;
  text-align: center;
}







